
     {% extends 'html/base.html' %}
     {% load static %}
     {% block title %}
         
     <title>ZXpress/ service chatting</title>
     
     {% endblock title %}
      {% block link %}
     
     
         <link rel="stylesheet" href=" {% static 'css/chatting.css' %}">
      {% endblock link %}
          
     
     
     {% block trans %}

<section class="Chatting__con">
    <section class="assistance__fixed__bar">
        <div class="header__chat">
            <span>

                <big>

                    <b>

                        <img src="../assets/img/istockphoto-1422203604-612x612.jpg" alt="">
                        <h4>HI THERE 🖐✋</h4>
                    </b>
                    <i class="bi bi-chevron-down cu click__chat_click"></i>
                    
                </big>
                <article>we typically reply within a few minutes </article>
            </span>
        </div>
        <main class="textAre">
            <div>
                <strong>
                    <p>Hi there ✋ if you need any assistance i'm always here</p>
                </strong>
                <strong>
                    <p>Hi there ✋ if you need any assistance i'm always here</p>
                </strong>
                
                
                <t class="TExtOutput">
                    <p>Hi there ✋ if you need any assistance i'm always here</p>
                </t>
               
            </div>
           
        </main>
        <div class="form__input">
            <form action="" method="post">
                <input type="text" name="" id="" placeholder="TEXT HERE" class="input__chat">


                <span>
                    <h6>POWERED BY <img src="../assets/logo/6b896788.png" alt=""></h6>
                    <button type="submit" class="cu submite"><i class="bi bi-send"></i></button>
                </span>
            </form>
        </div>
    </section>
    <script src=" {% static 'js/logistic_Home.js' %} "></script>

</section>


<script src=" {% static 'js/logistic_Home.js' %} "></script>
{% endblock trans %}

   

