
 
    {% extends 'html/base.html' %}
    {% load static %}
    {% block title %}
        
    <title>ZXpress/ shipping detail</title>
    
    {% endblock title %}
     {% block link %}
    
    
        <link rel="stylesheet" href=" {% static 'css/checktrack.css' %}">
<script src=" {% static 'js/logistic_Home.js' %} "></script>

     {% endblock link %}
         
    
    
    {% block trans %}
    




    <section class="main___detail__tacking">

         <center>
             <img src="{% static 'assets/logo/images(18).png' %} " alt="">
             <img src=" {% static 'assets/logo/6b896788.png' %} " alt=""  >
             <big>WEBWEHBS8GYGEBW8YG2-CARGO</big>
         </center>   
        <main class="main__detail__infor_name">
          
            <div>
                
                <h3> Receiver Information</h3>
                <div>
                    
            <span>
                <b>Name:</b>
                <b>david nwa</b>
               
                </span>
            <span>
                <b>Contact:</b>
                <b>+236 901293456</b>
               
                </span>
            <span>
                <b>Email:</b>
                <b>davdid@gmail.com</b>

               
                </span>
            <span>
                <b>Address:</b>
                <b>USA/NEwyork</b>
               
                </span>
            </div>
            </div>
            <div>
                
                <h3> Sender Information</h3>
                <div>
                    
            <span>
                <b>Name:</b>
                <b>david nwa</b>
               
                </span>
            <span>
                <b>Contact:</b>
                <b>+236 901293456</b>
               
                </span>
            <span>
                <b>Email:</b>
                <b>davdid@gmail.com</b>
               
                </span>
            <span>
                <b>Address:</b>
                <b>USA/NEwyork</b>
               
                </span>
            </div>
            </div>
          
           
        </main>
        <main style="width: 100%; ">
            <div class="main__detail__infor_name hshs" style="flex-direction: column; width: 100%;">
                
                <h3 class="" style="color: red; background-color: rgba(0,4,31); margin-top: 2%; width: 60%;"> More Information</h3>
                <div>
                    
            <span>
                <b>Parcel:</b>
                <b>Likki</b>
               
                </span>
            <span>
                <b>Dispatch Location:</b>
                <b>Lagos</b>
               
                </span>
            <span>
                <b>Courier Statu:</b>
                <b>Active</b>
               
                </span>
            <span>
                <b>Dispatch Date:</b>
                <b>2020-02-4</b>
               
                </span>
            <span>
                <b>Estimated Delivery Date:</b>
                <b>2020-02-4</b>
                
               
                </span>
            <span>
                <b>Current  Location Date:</b>
                <b>Abia lek</b>

               
                </span>
            </div>
            </div>
        </main>
        <main></main>
    </section>
<style>
    footer{
        display: none;
    }
</style>
    {% endblock trans %}


