<section class="nav">
    {% load static %}
    <div class="loho__con">
         <img src=" {{sitedetail.logo.url}}" alt="">
    </div>

    <div class="linkholder">
        {% if request.user.is_authenticated %}
        <a href="{% url 'owerDashboard' user.id%}" class="activeFre"> Dashboad</a>
        <a href="{% url 'tracking' %}" class="activeFre" > Tracking</a>
        <a href="{% url 'blog' %}" class="activeFre" > Blog</a>
        <a href="{% url 'contact' %} " class="activeFre"> contact Us </a>
        <a href="{% url 'service' %}" class="activeFre"> Service</a>
        {% else %}
        <a href="/" class="activeFre"> home</a>
            <a href="{% url 'tracking' %}"  > Tracking</a>
            <a href="{% url 'blog' %}" class="activeFre" > Blog</a>
            <a href="{% url 'contact' %} " class="activeFre"> contact Us </a>
            <a href="{% url 'service' %}" class="activeFre"> Service</a>

            {% endif %}


<script>
    
</script>
    </div>
    <i class="bi bi-justify toggle"></i>
</section>


<div class="open__assistabnce">
    <a href="{% url 'gencodcc' %}" style="display: flex;">
    

    <small>
        <i class="bi bi-chat-left-fill"></i>
        <b>1</b>
    </small></a>
</div>