
     {% extends 'html/base.html' %}
     {% load static %}
     {% block title %}
         
     <title>{{sitedetail.Website}}/ service chatting</title>
     
     {% endblock title %}
      {% block link %}
     
     
         <link rel="stylesheet" href=" {% static 'css/policy.css' %}">
      {% endblock link %}
          
     
     
     {% block trans %}
     {% include 'html/assistance.html' %}

  
    <section class="slide__con">
<div class="con__HOlider">
<div>
    <h2>SERVICE </h2>
    <h5>{{sitedetail.Website}} Logistics throughout the United States, as well as Canada and Mexico. 
        <br> To ensure compliance with all government regulations, we contract with drivers who carry TWIC cards for port work and tanker endorsements for liquid bulk shipments.
    </h5>
    <a href="?id=#contact" style="border: 2px solid rgba(179, 12, 12, 0.027); border-radius: 9px; color: white; padding: 22px; font-variant: small-caps; font-size: 30px; background-color: red;">SERVICE</a>
   
</div>
</div>
    </section>
   
    <section class="service___con">
<div  class="sev__service">
<center><h1>OUR SERVICE </h1></center>
    <div>
        <h2>
            Transportation Logistics Services You Can Rely On:</h2>

            <P>
                When it comes to transportation logistics services, finding the right equipment for your products is a crucial component of successful shipments. Whether you’re shipping apples or x-ray machines, we’ll source the proper equipment and a driver with the appropriate credentials to ensure that your freight arrives at the right time, in the right condition.
            </P>
    </div>
    <div>
        <h2>
           
WE SUPPLY:</h2>

            <P>
                Vans: Commonly referred to as “dry vans”, these are the most common trailers used to haul freight. Vans are closed trailers which are ideal for keeping product safe from weather. Vans are typically 53-feet in length, although they can come in other sizes. Air ride trailers are available for cargo that needs extra protection from shock and vibration. </P>
    </div>
    <div>
        <h2>
            Reefers:</h2>

            <p>
                Need to keep your products refrigerated or frozen? We have years of experience handling refrigerated freight, which we call ‘reefer freight’ for short. We can make sure the temperature of the shipping container stays nice and cold to preserve the quality of the shipment. Reefer freight is most often used to transport groceries and other perishables such as produce, meat, eggs and dairy, but it can also be used to ship temperature sensitive goods like medication, chemicals or computer equipment. </P>
  
            </div>
    <div>
        <h2>
            Containers:</h2>

            <p>
                Not all logistics lingo is pure jargon. This one is exactly what it says on the box – or container, as the case may be. Containers are boxes that contain product, allowing it to be shipped via rail, truck, or even ship, in the case of marine containers. We can supply chassis, even for the heavy containers!</p> </div>
    <div>
        <h2>
            Intermodal Service:</h2>

            <P>
                By land, by rail, or by sea! If the ideal way to get your freight from point A to point B takes all three, we can do that. Intermodal service simply means that your freight travels by more than one mode of transportation. The freight can be packed once in a proper container that meets the needed standards of ship, train, and truck transport, allowing it to stay snug and safe until unpacking at the required delivery location.<p</div>
</div>
    <div>
        <h2>
            Specialized Equipment:</h2>

            <P>Got something truly odd that needs shipping? Try us: we have shipping superpowers. HazMat, over dimensional, over-weight, or high value goods – we can ship it all. If you’re concerned about the safety of your special product, we’re the ones that can help. Specialized equipment is just one of the many ways in which we excel.
                .<p>

                </div>
    <div>
        <h2>
            WE SHIP:</h2>

            <P>Plastics: Polyethylene, PVC, nylon. For any of your polymer shipping needs, we’re your ideal shipper.

                Raw Materials: Oil, iron, wood. The stuff of the earth, as it comes from the earth. We can get it from one place to the other with no adulteration, letting you work with your materials like you pulled them from the ground yourself.
                Building Supplies: Cement, stone, lumber, iron. With us, you’ll reach for your next tool or board and it’ll be right where you need it, when you need it. In one piece and solid as a rock.
                Chemicals and HazMat: Dangerous materials, caustic chemicals, and anything else that falls under ‘hazardous materials.’ We are specially trained to work with HazMat and have the expertise to follow safety guidelines to the letter. Transporting dangerous material can be stressful – make sure you work with a carrier who knows the ropes.
                Foodstuffs and Consumables: From temperature-controlled freight to moisture-controlled containers, we’ll ensure your perishables don’t perish on the trip. Dry goods, bulk items, raw materials, and even medication can be shipped on our watch. Meat, produce, and dairy won’t just get there on time, they’ll get there with time to spare.
                Paper Goods and Books: Damaged books and paper goods don’t sell. Go with a logistics provider who treats your books like treasures instead of freight, and gives them the care they deserve.
                .<p></div>
    <div>
        <h2>
            OUR REACH:</h2>

            <P>We ship throughout the United States, as well as Canada and Mexico. To ensure compliance with all government regulations, we contract with drivers who carry TWIC cards for port work and tanker endorsements for liquid bulk shipments.<p</div>
</div>

    </section>
    <style>
        .linkholder a:nth-child(5){
     color: red;
        }
    </style>





    <section class="bog__centera">

        <center>
            <h1>EXPLORE OUR SERVICE </h1>
        </center>
        <main >
            <div>
                <img src="{% static 'assets/img/istockphoto-1066523004-612x612.jpg' %}" alt="" class="blob__img">
                
              
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
            <div>
                <img src="{% static 'assets/BTlAND/istockphoto-1403005867-612x612.jpg' %}" alt="" class="blob__img">
               
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
            <div>
                <img src="{% static 'assets/BTlAND/istockphoto-847092770-612x612.jpg' %}" alt="" class="blob__img">
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                   <i class="bi bi-star-half"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
            <div>
                <img src="{% static 'assets/BTlAND/istockphoto-864554458-612x612.jpg' %}" alt="" class="blob__img">
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
            <div>
                <img src="{% static 'assets/img/istockphoto-1422203604-612x612.jpg' %}" alt="" class="blob__img">
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
            <div>
                <img src="{% static 'assets/img/istockphoto-1021898460-612x612.jpg' %}" alt="" class="blob__img">
               <a href="" aria-disabled="true">
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star"></i>
                   <i class="bi bi-star-half"></i>
                </a>
            </div>
        </main>
    </section>

    <section class="test__all__con">


        <center>
            <h1>
                OUR CLIENT SAY!!
            </h1>
        </center>
        <main class="main__Testimony">
    
            <div class="semi__tes">
                <div class="child__con">
                    <span>
    
                        <img src="{% static 'assets/BTlAND/392-felix-6922_1.jpg' %}" alt="">
                        <big>
                            <small>Chris Akon </small>
                            <h5>USA</h5>
                        </big>
                    </span>
                    <p
                    >I have been really impressed with the level of customer service {{sitedetail.Website}} Logistics provides to us,
                    </p>
                </div>
                <div class="child__con">
                    <span>
    
                        <img src="{% static 'assets/BTlAND/397-mckinsey-21a3074-jir_1.jpg' %}" alt="">
                        <big>
                            <small>solomon Alba </small>
                            <h5>SOUTHAFRICA</h5>
                        </big>
                    </span>
                    <p>
                        The team at {{sitedetail.Website}} has always gone the extra yard for my customers and for me. In twenty years, I cannot remember a single time when a customer has complained about {{sitedetail.Website}}. Instead, I consistently hear rave reviews of their communication and follow-up skills.</p>
                </div>
                <div class="child__con">
                    <span>
    
                        <img src="{% static 'assets/BTlAND/385-8095-jir-l.jpg' %}" alt="">
                        <big>
                            <small>Muller  victor </small>
                            <h5>FRANCE</h5>
                        </big>
                    </span>
                    <p>
                        When I give {{sitedetail.Website}} a load to handle, I know that I can relax and concentrate on something else.</p>
                </div>
                <div class="child__con">
                    <span>
    
                        <img src="{% static 'assets/BTlAND/479-mk-9690-mockup.jpg' %}" alt="">
                        <big>
                            <small>Peter  Morgan king </small>
                            <h5>CANADA</h5>
                        </big>
                    </span>
                    <p>
                        That level of service has been ongoing for the past twenty years. It’s why I have no qualms about recommending {{sitedetail.Website}} whenever one of my valued customers asks for a referral.</p>
                </div>
                <div class="child__con">
                    <span>
    
                        <img src="{% static 'assets/BTlAND/5ce86c54-4484-4386-a804-45abc678dc7f.jpg' %}" alt="">
                        <big>
                            <small>Michelle  Morgan </small>
                            <h5>USA/NEWYORK</h5>
                        </big>
                    </span>
                    <p>
                        The team at {{sitedetail.Website}} Logistics confirms our trucks at least one week in advance which helps me with monthly planning. Since I ship 2-4 loads per wee
                        </p>
                </div>
            </div>
        </main>
      </section>


      <section class="Year__funtion">
        <main class="mian__conds">
            <h2>we are Trusted Logistics Company Since 1993</h2>
            <span>
                <img src="{% static 'assets/img/images(18).png' %}" alt="">
                <small>
                    <h4>world wild operation </h4>
                    <p>
                        As a fully integrated international transport and distribution company, we arrange the transportation of cargo around the world. We use {{sitedetail.Website}} Logistics for a part of our domestic transportation, and have done so for more than a decade. Our company was established in 1947, and we have always made it a practice to perform due diligence before contracting with a service provider. When looking at a logistics provider, we like to know who they are, how they conduct business, if they’re financially sound, and if they are honorable</p>
                </small>
            </span>
        </main>
        <main class="boxIMg">
            <img src="{% static 'assets/img/feature.jpg' %}" alt="">
        </main>


    </section>


     


{% endblock trans %}