

    {% load static %}




    <center>
        <h1>
            # OUR EXPERT TEAM MEMBERS
        </h1>
    </center>
    <section class="test__all__con ">


        <main class="main__Testimony">
    <style>
        .child__con b{
padding: 12px;
        }
        .child__con h5{
 margin: 12px;
        }
    </style>
            <div class="semi__tes secp">
                <div class="child__con">
    
                        <img  style="width: 100%; object-fit:cover;" src="{% static 'assets/img/istockphoto-1166562970-612x612.jpg' %}" alt="">
                        
                           <b class="personinvest-detail">
                <big>Alice Amanda</big>
                <small>4yrs Experience</small>
            </b>
                </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "  src="{% static 'assets/WORKER/istockphoto-1428978917-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>kelvin sam</big>
                            <small>7yrs Experience</small>
                        </b>
                </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "  src="{% static 'assets/WORKER/istockphoto-951642732-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>Michael Davis</big>
                            <small>14yrs Experience</small>
                        </b>
              </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "  src="{% static 'assets/WORKER/istockphoto-1354178464-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>Tyler  Nates</big>
                            <small>4yrs Experience</small>
                        </b>
              </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "  src="{% static 'assets/img/istockphoto-520614703-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>Danilo Naces</big>
                            <small>12yrs Experience</small>
                        </b>
              </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "   src="{% static 'assets/img/istockphoto-964380650-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>Victoria Marilyn</big>
                            <small>12yrs Experience</small>
                        </b>
              </div>
                <div class="child__con">
    
                        <img style="width: 100%;object-fit:cover; "  src="{% static 'assets/img/istockphoto-588382166-612x612.jpg' %}" alt="">
                        <b class="personinvest-detail">
                            <big>Jared Namenson</big>
                            <small>9yrs Experience</small>
                        </b>
              </div>
         
            </div>
        </main>
      </section>






