

    {% load static %}





 <section class="sec-5" >
    <center class="main-psd   sec-topiv"><h3> # OUR EXPERT TEAM MEMBERS</h3></center>
    <div class="main-holider-peronves">
    <main class="main-holider-peronves2">
        
        <div class="main-disv-invesy">
            <img class="mainperima" src="{% static 'assets/WORKER/istockphoto-1434746430-612x612.jpg' %}" alt="">

            <b class="personinvest-detail">
                <big>John Victor</big>
                <small>12yrs Experience</small>
            </b>
        </div>
        <div class="main-disv-invesy">
            <img class="mainperima" src="{% static 'assets/WORKER/istockphoto-1428978917-612x612.jpg' %}" alt="">

            <b class="personinvest-detail">
                <big>kelvin sam</big>
                <small>7yrs Experience</small>
            </b>
        </div>
        <div class="main-disv-invesy">
            <img class="mainperima"  src="{% static 'assets/WORKER/istockphoto-951642732-612x612.jpg' %}" alt="" >
            
            <b class="personinvest-detail">
                <big>Michael Davis</big>
                <small>14yrs Experience</small>
            </b>
        </div>
        <div class="main-disv-invesy">
            <img class="mainperima" src="{% static 'assets/WORKER/istockphoto-1354178464-612x612.jpg' %}" alt="">
            
            <b class="personinvest-detail">
                <strong>anthony o sullivan</strong>
            <small>9yrs Experience</small>
            </b>
        </div>
        <div class="main-disv-invesy">
            <img class="mainperima" src="{% static 'assets/img/istockphoto-520614703-612x612.jpg' %}" alt="">
            
            <b class="personinvest-detail">
                <strong>Victor willson</strong>
            <small>9yrs Experience</small>
            </b>
        </div>
    </main>
<style>
    .personinvest-detail{
        text-transform: capitalize;
    }
</style>

</div>
<div class="chevron-s">
    <i class="bi bi-chevron-rightw ds  currentx"></i>
    <i class="bi bi-chevron-rightw lds"></i>
    <i class="bi bi-chevron-rightw lds"></i>
    <i class="bi bi-chevron-rightw lds"></i>
    <i class="bi bi-chevron-rightw lds"></i>
    <i class="bi bi-chevron-rightw lds"></i>
</div>
</section>






