{% include 'adminDa/messages.html' %}

<div class="main-two-con-child-one">
    <span>
<img src="{{sitedetail.logo.url}}" alt=""  style="font-size: 300px !important; height: 120px !important ; width:90px; background-color: rgb(255, 255, 255);">          </span>
<div class="main-two-con-child-one-we">
   <h3 style="font-weight: lighter;">
    {{sitedetail.Website}}</h3>

   <strong style="border-bottom: 2px solid white; padding-bottom:7px ;"> <label for="id_profileImg" style="cursor: pointer;"><i class="bi bi-gear"></i> change your Company logo  pic</label></strong>
</div>

</div>