{% include 'adminDa/messages.html' %}

<div class="main-two-con-child-one">
    <span>
<img src="" alt=""  style="font-size: 300px !important; height: 120px !important ; width:90px; background-color: rgba(255, 255, 255, 0.301);">          </span>
<div class="main-two-con-child-one-we">
   <h3 style="font-weight: lighter;">{{request.user.username}}</h3>

   <b style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{request.user.email}}</b>
   <strong style="border-bottom: 2px solid white; padding-bottom:7px ;"> <label for="id_profileImg" style="cursor: pointer;"><i class="bi bi-gear"></i> change your profile pic</label></strong>
</div>

</div>