* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --backg:white;
  --color: rgba(0, 4,31);
  --transit:all .5s ease-in-out;
  --shadow:3px 3px 4px gray;
  --colored:red;
  --backgroundcolor: hsl(231, 100%, 4%);
  --background:#ffffff;
  --background2:rgba(55, 76, 167, 0.253);
  --backgroundx:#04011f;
  --backgroundimage: to top, rgba(173, 216, 230, 0.5),rgba(28, 28, 253, 0.198) ;
  --btext:#0d0d0ecc;
  --widt:100%;
}

body {
  background: #04011f url("../assets/img/shape-r.png");
  color: white;
}

i, a {
  text-transform: capitalize;
  color: white;
}

.main__sec {
  display: flex;
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main__sec main:first-child {
  min-width: 302px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(1, 2, 26, 0.945);
  padding-top: 33px;
  justify-content: center;
  overflow: auto;
}
.main__sec main:first-child h3 {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main__sec main:first-child ul {
  margin: 0% auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}
.main__sec main:first-child ul > *:hover {
  width: 90%;
  display: flex;
  padding: 12px;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: rgba(151, 150, 150, 0.541);
  margin-top: 12px;
}
.main__sec main:first-child ul > *:hover small {
  margin-left: 20%;
  font-weight: bolder;
}
.main__sec main:first-child ul > *:hover i {
  font-size: 20px;
}
.main__sec main:first-child ul > * {
  width: 90%;
  display: flex;
  padding: 12px;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  background-color: rgba(65, 62, 62, 0.329);
  margin-top: 12px;
}
.main__sec main:first-child ul > * small {
  margin-left: 20%;
  font-weight: bolder;
}
.main__sec main:first-child ul > * i {
  font-size: 20px;
}
.main__sec .sec-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
  background: url("../assets/img/shape-r.png");
  -webkit-backdrop-filter: blur(123px);
          backdrop-filter: blur(123px);
}
.main__sec .sec-2 .sec2-main {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(250, 235, 215, 0);
  justify-content: space-between;
  padding: 12px;
}
.main__sec .sec-2 .sec2-main img {
  height: 70px;
  width: 70px;
  border-radius: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__sec .sec-2 .sec2-main .fit__accsett {
  display: flex;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed {
  position: fixed;
  z-index: 100000000000000020;
  top: 0;
  display: none;
  width: 100% !important;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 12px;
  padding: 22px;
  right: 20px;
  flex-direction: column;
  top: 100px;
  background-color: rgba(1, 1, 22, 0.787);
  width: 400px;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:first-child > * {
  margin-top: 12px;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:last-child > * {
  padding: 8px;
  padding-left: 22px;
  margin-top: 22px;
  font-size: small;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.192);
  width: 100%;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:last-child > * b {
  margin-left: 12px;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:last-child > *:hover {
  padding: 8px;
  padding-left: 22px;
  margin-top: 22px;
  font-size: small;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.192);
  width: 70%;
}
.main__sec .sec-2 .sec2-main .fit__accsett .fixed > *:last-child > *:hover b {
  margin-left: 12px;
}
.main__sec .sec-2 .sec2-main .bi-justify {
  font-size: 40px;
  cursor: pointer;
}
.main__sec .sec-2 .sec2-main .bi-justify:hover {
  color: gray;
}
.main__sec .sec-2 .sec2-main form {
  display: flex;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.137);
  width: 60%;
  align-items: center;
}
.main__sec .sec-2 .sec2-main form input {
  width: 97%;
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px;
}
.main__sec .sec-2 .sec2-main form i {
  height: 100%;
  align-items: center;
  display: flex;
  color: rgb(255, 0, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.089);
}

.open__fixed {
  display: flex !important;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1.9s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.sec__1___close {
  transform: translateX(-100vw);
  display: none;
  transition: transform 1.9s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cose {
  display: none;
}

@media screen and (max-width: 900px) {
  .sec-1 {
    position: fixed !important;
    height: 100vh;
    z-index: 999;
    position: relative;
  }
  .sdd {
    width: 90% !important;
  }
  .fixed {
    width: 100vw !important;
    height: 100%;
    position: fixed !important;
    overflow: hidden;
    scroll-behavior: smooth;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--backgroundx) !important;
  }
  .cose {
    display: flex;
    position: absolute;
    right: 0;
    font-size: x-large;
    top: 23px;
    background-color: white;
    color: red;
  }
  .search__sa {
    display: none !important;
  }
  .wsd-wrap {
    display: flex;
    text-transform: capitalize !important;
    width: 100% !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
  }
  .wsd-wrap > * {
    margin-top: 12px;
    width: 90% !important;
  }
  .as b {
    justify-content: space-between;
    width: 100%;
    background-color: transparent !important;
  }
  .as small {
    justify-content: space-between;
  }
  .dp-pending {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-x: auto;
    display: flex;
  }
  .dp-pending .dp-pending-con {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .sec-1 {
    position: fixed !important;
    z-index: 999;
    width: 100vw;
    position: relative;
  }
  .fixed {
    width: 100vw !important;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .cose {
    display: flex;
    position: absolute;
    right: 0;
    font-size: x-large;
    top: 23px;
    background-color: white;
    color: red;
  }
}
.main-two-con {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.hidee-con {
  display: flex;
  flex-direction: column;
  transition: all 2s ease-in-out;
  transition: all 1.2s linear;
}

.hiddenc li {
  border-radius: 23px;
  margin-bottom: 4px;
  margin-top: 4px;
  align-self: center;
  text-align: center;
  transition: all 1.2s linear;
  border-bottom: 1px solid white;
  position: 1.2%;
  display: flex;
  align-items: center;
}

.hiddenc li a {
  align-self: center;
  display: flex;
  justify-self: center;
  width: 100%;
  text-align: center;
  align-items: center;
  transition: all 1.2s linear;
}

.hiddenc {
  display: none;
  flex-direction: column;
  margin-left: 43px;
  /* background-color: rgba(255, 255, 255, 0.253); */
  border-radius: 23px;
  justify-content: center;
  align-self: flex-end;
  text-align: center;
  width: 100%;
  transition: all 1.2s linear;
  /* padding: 12px; */
}

.bi-chevron-down {
  display: flex;
  transform: rotate(0deg);
  transition: all 1.2s linear;
}

.rowa {
  width: 100%;
}

.xxzzxx {
  display: flex;
  width: 25%;
  height: 18%;
  /* overflow: scroll; */
  justify-content: center;
}

.radialBar1 {
  width: 100%;
}

.mainsddd {
  width: 100%;
  height: auto;
  display: flex;
}

.main-lef {
  display: flex;
}

.main-lefop {
  display: none;
}

.open-link {
  display: flex;
}

.BALANCE {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.top-welcome {
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
  top: 0;
  padding: 12px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #04011f;
}

.top-welcome h2 {
  font-size: 100%;
  /* position: static; */
}

.BALANCE div span {
  position: absolute;
  top: 1px;
  width: 50%;
  font-size: 0.7rem;
  padding-right: 7px;
  border-bottom-left-radius: 12px;
  padding-left: 7px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3294117647);
  max-height: auto;
  text-transform: capitalize;
}

.main-main-w .bigx {
  width: 120%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding: 23px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bigx b {
  width: 100%;
  font-size: 200%;
}

.bigx h1,
.bigx strong {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-self: center;
  justify-self: center;
  height: auto;
}

.main-balace {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
.main-balace > * {
  margin: 23px;
}

.rd {
  border-radius: 23px;
}

.dp-pending {
  padding-top: 2%;
  width: 100%;
  overflow-x: auto;
  height: auto;
  /* overflow-y: auto; */
  display: flex;
  margin-top: 7%;
  flex-direction: column;
}
.dp-pending > * {
  margin-top: 12px;
}

.dp-pending-con big {
  color: var(--background);
  text-transform: capitalize;
}

.as {
  flex-direction: column;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.as b {
  justify-content: space-between;
  font-weight: lighter;
  display: flex;
  width: 100%;
  margin-left: 22px;
}
.as small {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 22px;
}
.as small a {
  border: 2px solid white;
  padding: 12px;
  background-color: var(--backgroundx);
  background-color: red;
}
.as small a:last-child {
  background-color: var(--backgroundx);
}

.dp-pending-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: rgba(207, 199, 199, 0.233);
  padding: 20px;
  color: #000;
}

.opendd {
  transform: rotate(-90deg);
  /* font-size: xx-large; */
}

.rd big, .fd {
  font-size: 0.8rem;
}
.rd big > *, .fd > * {
  margin: 12px;
}

marquee {
  top: 8%;
  background-color: #04011f;
  position: -webkit-sticky;
  position: sticky;
  height: 23px;
  width: 90%;
  align-self: center;
  display: flex;
  justify-self: center;
  padding-left: 9%;
}

.bg {
  background-color: aliceblue;
}

.wsd-wrap {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wsd-wrap > * {
  margin: 22px;
}

.fd {
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .fd {
    min-width: 100vw;
  }
}/*# sourceMappingURL=investmnetPlanedit.css.map */