.nav{
    background-color:var(--back2) ;
width: 100%;
height: auto;
display: flex;
top: 0;
align-items: center;
justify-content: center;
>*{
    width: fit-content;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
}

.loho__con{
    display: flex;
    height: 120px;
    align-items: center;

    img{
        display: flex;
        height: 90%;
        width: 200px;
    }
    
}
.linkholder{
    width: fit-content;
    height: fit-content;
    display: flex;
    // gap: 22px;
    
    a{
        color: var(--conta);
        text-transform: capitalize;
        border-bottom: 2px solid var(--conta);
        padding-bottom: 2px;
        margin:  12px;
        display: flex;
        width: fit-content;
        min-width: fit-content;

    }
    a:hover{
        color: gray;
    }
}
}
.toggle{
    display: none;
}

// media?
@media screen and (max-width:718px) {
    // .slide__con{
    //     display: flex;
    //     width: 100%;
    //     margin-top: 0%;
    
    //    height: 80vh;
    //     align-items: center;
    //     justify-content: center;
    //     animation-duration: 13s;
        
    //     background-image: url('../assets/img/istockphoto-149414826-612x612.jpg ');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    
    //     animation-iteration-count: infinite;
    //     @keyframes slide {
    //         0%{
    //             background-image: url('../assets/img/istockphoto-1141964559-612x612.jpg ');
    //         }
    //         20%{
    //             background-image: url('../assets/img/istockphoto-520709858-612x612.jpg ');
    //         }
    //     40%{
    //             background-image: url('../assets/img/istockphoto-1066523004-612x612.jpg ');
    //         }
    //         60%{
    //             background-image: url('../assets/img/istockphoto-1066523004-612x612.jpg ');
    //         }
    //         80%{
    //             background-image: url('../assets/img/istockphoto-1428978917-612x612.jpg ');
    //         }
    //         100%{
    //             background-image: url('../assets/img/istockphoto-990391116-612x612.jpg');
    //         }
    //     }
    
    //     .con__HOlider{
    //         display: flex;
    //         width: 100%;
    //         align-items: center;
    //         margin-top: 19%;
    //     justify-content: center;
    //     backdrop-filter: blur(88px);
    //     background-color: rgba(14, 11, 11, 0.438);
    //     min-height: fit-content;
    //     height: 100%;
    //     color: white;
    //     div{
    //         display: flex;
    //         flex-direction: column;
    //         text-align:center;
    //         width: fit-content;
    //       align-self: center;
          
    //         >*{
    //             margin: 1%;
    
    //         }
    //        h5{
    //             font-size: 128%;
    //             color: rgb(255, 255, 255);
    //         }
    //         h2{
    //             font-size: 45px !important;
    //         }
    //         form{
    //             display: flex;
    //             width: 90%;
    //             align-self: center;
    //             height: 40px;
    //         text-align:center;
    // justify-content: center;
    // button{
    //     margin-left: 3px;
    //     background-color: var(--colte);
    //     color: white;
    //     outline: none;
    //     border: none;
    // }
    //             input{
    //                 height: 100%;
    //                 width: 90%;
    //                 outline: none;
    //                 border: none;
    //                 padding: 12px;
    //             }
    //         }
    //     }
            
    //     }
    // }
    .toggle{
        display: flex;
        font-size: 45px;
        cursor: pointer;
    }
    .nav{
        background-color:var(--back2) ;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    >*{
        width: fit-content;
        height: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .loho__con{
        display: flex;
        height: 90px;
        align-items: center;
    
        img{
            display: flex;
            height: 80%;
            width: 170px;
        }
        
    }
    .linkholder{
        width: fit-content;
        height: fit-content;
        transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
        backdrop-filter:  blur(.12px);
        position: fixed;
        top: 90px;
        width: 100%;
        background-color:  rgba(0, 4, 13, 0.87);
        display: flex;
        // gap: 22px;
        flex-direction: column;
        z-index: 99;
        left: -100vw;

        
        a{
            color: var(--back2);
            text-transform: capitalize;
            border-bottom: 2px solid var(--conta);
            padding-bottom: 2px;
            margin:  12px;
            display: flex;
            width: fit-content;
            min-width: fit-content;
    
        }
        a:hover{
            color: gray;
        }
    }
    .linkholder__clse{
        left: 0vh;
        z-index: -99999;
        transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    }
    
}

.open__assistabnce {
    top: 79%;
    right: 4%;
    position: fixed;
    background: rgba(128, 128, 128, 0);
    display: flex;
    align-items: center;
  }
  .open__assistabnce big {
    display: flex;
    background-color: white;
    margin-right: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 9px;
    border-radius: 23px;
  }
  .open__assistabnce small {
    display: flex;
    font-size: xx-large;
    background-color: var(--colte);
    padding: 12px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
  }
  .open__assistabnce small b {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: medium;
    background-color: red;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -8px;
    top: 0;
    padding: 8px;
    width: 12px;
  }

  .create__con{
    position: absolute;
    right: 12px;
    margin: 22px;
    a{
        border: 2px solid white;
        background-color: red;
        color: white;
        padding: 12px;
        border-radius:12px;
        height: fit-content !important;
        font-size: x-small;
        display: flex;
    }
 
 }